proxytest/trunk/documentation/XML/FirstMixToJAPStep3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="anon" elementFormDefault="unqualified">
	<element name="Signature">
		<complexType>
			<all>
				<element name="Nonce" type="base64Binary" />
				<element name="SignatureValue" type="base64Binary" />
			</all>
		</complexType>
	</element>
</schema>