proxytest/trunk/documentation/XML/ListenerInterfaceType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="anon" elementFormDefault="unqualified">
	<complexType name="ListenerInterfaceType">
		<all>
			<element name="NetworkProtocol" type="string" />
			<element name="Host" type="string" minOccurs="0" />
			<element name="IP" type="string" minOccurs="0" />
			<element name="Port" type="unsignedShort"
				minOccurs="0" />
			<element name="File" type="string" minOccurs="0" />
		</all>
	</complexType>
</schema>