proxytest/trunk/documentation/XML/ProxyType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="anon" elementFormDefault="unqualified">
  <complexType name="ProxyType">
    <all>
      <element name="VisibleAddresses">
        <complexType>
          <sequence minOccurs="1" maxOccurs="unbounded">
            <element name="VisibleAddress">
              <complexType>
                <all>
                  <element name="Host" type="string" />
                </all>
              </complexType>
            </element>
          </sequence>
        </complexType>
      </element>
    </all>
  </complexType></schema>